<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="semanticAnnotator" version="2.5">
  <display-name>semanticAnnotator</display-name>
  <servlet>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <url-pattern>*.tiles</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>org.apache.tiles.definition.DefinitionsFactory.DEFINITIONS_CONFIG</param-name>
    <param-value>
            /WEB-INF/tiles.xml
        </param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
    <init-param>
      <param-name>cors.allowed.origins</param-name>
      <param-value>*</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.methods</param-name>
      <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
    </init-param>
    <init-param>
      <param-name>cors.allowed.headers</param-name>
      <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value>
    </init-param>
    <init-param>
      <param-name>cors.exposed.headers</param-name>
      <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value>
    </init-param>
    <init-param>
      <param-name>cors.support.credentials</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>cors.preflight.maxage</param-name>
      <param-value>10</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <display-name>LoadObjectData</display-name>
    <servlet-name>LoadObjectData</servlet-name>
    <servlet-class>localdomain.localhost.servlets.LoadObjectData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadObjectData</servlet-name>
    <url-pattern>/LoadObjectData</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LoadROIData</display-name>
    <servlet-name>LoadROIData</servlet-name>
    <servlet-class>localdomain.localhost.servlets.LoadROIData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadROIData</servlet-name>
    <url-pattern>/LoadROIData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadCollData</display-name>
    <servlet-name>LoadCollData</servlet-name>
    <servlet-class>localdomain.localhost.servlets.LoadCollData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadCollData</servlet-name>
    <url-pattern>/LoadCollData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadSubColl</display-name>
    <servlet-name>LoadSubColl</servlet-name>
    <servlet-class>localdomain.localhost.servlets.LoadSubColl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadSubColl</servlet-name>
    <url-pattern>/LoadSubColl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fileServlet</servlet-name>
    <servlet-class>localdomain.localhost.servlets.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fileServlet</servlet-name>
    <url-pattern>/files/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteAnnotations</display-name>
    <servlet-name>WriteAnnotations</servlet-name>
    <servlet-class>localdomain.localhost.servlets.WriteAnnotations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteAnnotations</servlet-name>
    <url-pattern>/WriteAnnotations</url-pattern>
  </servlet-mapping>
  <security-role>
    <role-name>manager-gui</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>semanticAnnotator</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager-gui</role-name>
    </auth-constraint>
  </security-constraint>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
  <servlet>
    <description></description>
    <display-name>ReadAnnotation</display-name>
    <servlet-name>ReadAnnotation</servlet-name>
    <servlet-class>localdomain.localhost.servlets.ReadAnnotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadAnnotation</servlet-name>
    <url-pattern>/ReadAnnotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>typeQuery</display-name>
    <servlet-name>typeQuery</servlet-name>
    <servlet-class>localdomain.localhost.servlets.typeQuery</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>typeQuery</servlet-name>
    <url-pattern>/typeQuery</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryDBpedia</display-name>
    <servlet-name>QueryDBpedia</servlet-name>
    <servlet-class>localdomain.localhost.servlets.QueryDBpedia</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryDBpedia</servlet-name>
    <url-pattern>/QueryDBpedia</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadPageData</display-name>
    <servlet-name>LoadPageData</servlet-name>
    <servlet-class>localdomain.localhost.servlets.LoadPageData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadPageData</servlet-name>
    <url-pattern>/LoadPageData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QueryOccID</display-name>
    <servlet-name>QueryOccID</servlet-name>
    <servlet-class>localdomain.localhost.servlets.QueryOccID</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryOccID</servlet-name>
    <url-pattern>/QueryOccID</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteAnnotation</display-name>
    <servlet-name>DeleteAnnotation</servlet-name>
    <servlet-class>localdomain.localhost.servlets.DeleteAnnotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteAnnotation</servlet-name>
    <url-pattern>/DeleteAnnotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WriteAnnotation</display-name>
    <servlet-name>WriteAnnotation</servlet-name>
    <servlet-class>localdomain.localhost.servlets.WriteAnnotation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteAnnotation</servlet-name>
    <url-pattern>/WriteAnnotation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoadFolders</display-name>
    <servlet-name>LoadFolders</servlet-name>
    <servlet-class>localdomain.localhost.servlets.LoadFolders</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadFolders</servlet-name>
    <url-pattern>/LoadFolders</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeAnnotationsToSQL</display-name>
    <servlet-name>writeAnnotationsToSQL</servlet-name>
    <servlet-class>localdomain.localhost.servlets.writeAnnotationsToSQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeAnnotationsToSQL</servlet-name>
    <url-pattern>/writeAnnotationsToSQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addUser</display-name>
    <servlet-name>addUser</servlet-name>
    <servlet-class>localdomain.localhost.servlets.addUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addUser</servlet-name>
    <url-pattern>/addUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteAnnotationsFromSQL</display-name>
    <servlet-name>deleteAnnotationsFromSQL</servlet-name>
    <servlet-class>localdomain.localhost.servlets.deleteAnnotationsFromSQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteAnnotationsFromSQL</servlet-name>
    <url-pattern>/deleteAnnotationsFromSQL</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loadAnnotations</display-name>
    <servlet-name>loadAnnotations</servlet-name>
    <servlet-class>localdomain.localhost.servlets.loadAnnotations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loadAnnotations</servlet-name>
    <url-pattern>/loadAnnotations</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>writeAnnotationsToRDF</display-name>
    <servlet-name>writeAnnotationsToRDF</servlet-name>
    <servlet-class>localdomain.localhost.servlets.writeAnnotationsToRDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>writeAnnotationsToRDF</servlet-name>
    <url-pattern>/writeAnnotationsToRDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeAnnotationsFromRDF</display-name>
    <servlet-name>removeAnnotationsFromRDF</servlet-name>
    <servlet-class>localdomain.localhost.servlets.removeAnnotationsFromRDF</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeAnnotationsFromRDF</servlet-name>
    <url-pattern>/removeAnnotationsFromRDF</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>removeAnnotationsFromSQL</display-name>
    <servlet-name>removeAnnotationsFromSQL</servlet-name>
    <servlet-class>localdomain.localhost.servlets.removeAnnotationsFromSQL</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>removeAnnotationsFromSQL</servlet-name>
    <url-pattern>/removeAnnotationsFromSQL</url-pattern>
  </servlet-mapping>
</web-app>